h1 {
    background-color: aqua;
    border-radius: 500px;
    border-color: blue;
    border-style: groove;
    border-color: red;
    border-width: 5px;
}
h3 {
    color: red;
    color: ;
}
ul{
    color: green;
}
style {
    color: blue;
}


